//
// Variables
//

// Tipografías
$base-font: "Source Sans Pro", sans-serif;

// Colores

$negro-claro: #3c3c44;
$verde-turquesa: #52e2ae;
$anaranjado: #e35534;
$gris-fuente: #666C6C;
$gris-claro: #E2E5E4;

// Neat Variables
